body {
    /*src: https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/*/
    font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

h1 {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

body > section{
    padding: 16px;
    padding: 16px;
    padding: 1rem;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background: #ededed;
    width: 800px;
    width: 320px;
    width: 20rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /*height: 30rem;*/ }
    body div {
        margin: auto;
        margin-bottom: 100px;
    }

label {
    display: inline-block;
    width: 320px;
    width: 320px;
    width: 20rem;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
    margin-bottom: 1em; }
    label span {
        display: none; }

button {
    width: 80px;
    width: 80px;
    width: 5rem;
    height: 80px;
    height: 80px;
    height: 5rem;
    font-size: 1em;
    border: solid silver;
    border-radius: 25%;
    box-sizing: border-box;
    cursor: pointer
}

embed {
    display: block;
}

.play {
    -webkit-animation: 3s pulse infinite;
    animation: 3s pulse infinite; }
    @-webkit-keyframes pulse {
        0% {
            background: silver; }
        50% {
            background: green;
            border: green;
            color: white;} }
    @keyframes pulse {
        0% {
            background: silver; }
        50% {
            background: green;
            border: green;
            color: white;}
        }

/**
** Helpers
**/
.hidden {
    display: none; }

.block {
    margin: 1.6px;
    margin: 0.1rem; }
    .block label {
        text-align: center;
        width: 96px;
        width: 6rem;
        height: 96px;
        height: 6rem;
        background-color: grey;
        border-radius: 25%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        color: #333;
        font-size: 0.8em;
        text-align: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .block label span {
            display: block;
            font-size: 1.5em;
            font-weight: bold; }
    .block input {
        display: none; }
        .block input:checked + label {
            background: red; }


.active label{
    background: red; }
