section{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    background: #ededed;
    width: 30rem;
    height: 30rem;
}
button,
a {
    width: 10rem;
    height: 10rem;
    background-color: black;
    border: solid white;
    border-radius: 25%;
    box-sizing: border-box;
}

a:hover,
a:focus {
    background-color: salmon;
    outline: none;
}
